<a href="https://colab.research.google.com/github/pachoz44/CHDS29800/blob/main/Clase_06_Introducci%C3%B3n_a_la_manipulaci%C3%B3n_de_datos_con_Pandas_(Parte_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Operaciones sobre numericos**

In [1]:
import pandas as pd

In [ ]:
df_lluvias_archivo = pd.read_csv('https://raw.githubusercontent.com/pachoz44/CHDS29800/main/datasets/pune_1965_to_2002.csv')
df_lluvias_archivo

In [ ]:
# SerÃ­a conveniente que el Ã­ndice sea la columna Year ðŸ¤” Construyamos un nuevo Data Frame con este Ã­ndice
indice = list(df_lluvias_archivo.Year)
indice

In [10]:
columnas = df_lluvias_archivo.columns[1:]
columnas

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [ ]:
#Guardamos en un arreglo todos los valores, excepto los de la primera columna
valores = df_lluvias_archivo.values[:,1:]
valores

In [ ]:
# Ensamblamos las partesâ€¦ ðŸ¦¾ðŸ¤–
df_lluvias = pd.DataFrame(valores,index=indice,columns=columnas)
df_lluvias

In [ ]:
# Suma de las precipitaciones para cada mes
df_lluvias.sum()

In [ ]:
# Promedio de precipitaciones ðŸ‘‰ de cada aÃ±o
df_lluvias.mean(axis='columns')

In [ ]:
# Podemos obtener un breve resumen del Data Frame con describe()
df_lluvias.describe().round(1)

In [ ]:
# Si transponemos el Data Frame antes de aplicar describe, obtenemos el resumen segÃºn el aÃ±o
df_lluvias.T.describe().round(1)

## **Operaciones sobre Strings**

In [56]:
df_presidentes = pd.read_csv('https://raw.githubusercontent.com/pachoz44/CHDS29800/main/datasets/us_presidents%202.csv')
df_presidentes

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801â€“...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811â€“...,Democratic- Republican,Daniel D. Tompkins
5,5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817â€“...,Democratic- Republican,John C. Calhoun
6,6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828â€“1829),Whig,John Tyler
9,9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 â€“ September 13, 1841",Office vacant
10,10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839â€“1841),Democratic,George M. Dallas
11,11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864â€“...,Republican,Schuyler Colfax
18,18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868â€“1872 & 1...,Republican,William A. Wheeler
19,19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883â€“1885),Democratic,Thomas A. Hendricks
22,22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885â€“1...,Democratic,Adlai Stevenson
24,24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892â€“1896),Republican,Garret Hobart
25,25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904â€“1...,Republican,James S. Sherman
27,27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911â€“1913),Democratic,Thomas R. Marshall
28,28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929â€“1932 ),Democratic,John Nance Garner
32,32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949â€“1952 ),Republican,Richard Nixon
34,34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971â€“1975),Democratic,Walter Mondale
39,39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967â€“1975 ),Republican,George H. W. Bush
40,40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979â€“1981...,Democratic,Al Gore
42,42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995â€“2000 ),Republican,Dick Cheney
43,43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971â€“...,Republican,Mike Pence

In [55]:
series_nombres = pd.Series(df_presidentes['president'])
series_nombres

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [ ]:
series_nombres.str.upper()  # convierte a Mayusculas

In [ ]:
series_nombres.str.len()  # longitus total incluyendo espacios y otros caracteres

In [ ]:
series_nombres.str.startswith('J') #Evaluar si comienzan con una determinada letra

In [ ]:
series_nombres.str.split() # Separar en una lista usando el espacio como separador

## **Introduccion a SERIES DE TIEMPO**

In [39]:
#Convertir String a Timestamp:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fecha

Timestamp('2020-01-03 00:00:00')

In [40]:
# DÃ­as desde el 3 de enero del 2020 al 10 de enero del 2020:
inicio = pd.to_datetime('03/01/2020', dayfirst=True)
final  = pd.to_datetime('10/01/2020', dayfirst=True)
dias_diferencia = pd.date_range(start=inicio, end=final)
dias_diferencia

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [41]:
fechas_2 = pd.date_range(start=inicio, periods=8)
fechas_2

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [42]:
# Cambiando la frecuencia a meses en lugar de dÃ­as:
fechas_3 = pd.date_range(start= fecha, periods= 8, freq='M')
fechas_3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [43]:
# mes de inicio
mes_inicio = fecha.strftime('%Y-%m')
mes_inicio

'2020-01'

In [44]:
fechas_4 = pd.period_range(start=mes_inicio, periods=8, freq='M')
fechas_4 #8 meses desde el periodo de inicio

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08'],
            dtype='period[M]')

In [46]:
# Â¿CuÃ¡nto tiempo pasÃ³ desde el primer periodo al Ãºltimo?
cuanto_tiempo = fechas_3[7] - fechas_3[0]
cuanto_tiempo

Timedelta('213 days 00:00:00')

In [47]:
# Â¿CuÃ¡ntos meses pasaron desde el primer periodo al Ãºltimo?
cuanto_tiempo_meses = fechas_3[7].to_period('M') - fechas_3[0].to_period('M') 
cuanto_tiempo_meses

## **Conversion a DateTimeIndex**

In [ ]:
# retomemos el Data Frame de presidentes. Seleccionamos las fechas de asunciÃ³n
fechas_presidentes_orig = df_presidentes['start']
fechas_presidentes_orig

In [49]:
# Transformemos las fechas en formato string a Ã­ndices de tiempo
fechas_presidentes = pd.DatetimeIndex(fechas_presidentes_orig)
fechas_presidentes

DatetimeIndex(['1789-04-30', '1797-03-04', '1801-03-04', '1809-03-04',
               '1817-03-04', '1825-03-04', '1829-03-04', '1837-03-04',
               '1841-03-04', '1841-04-04', '1845-03-04', '1849-03-04',
               '1850-07-09', '1853-03-04', '1857-03-04', '1861-03-04',
               '1865-04-15', '1869-03-04', '1877-03-04', '1881-03-04',
               '1881-09-19', '1885-03-04', '1889-03-04', '1893-03-04',
               '1897-03-04', '1901-09-14', '1909-03-04', '1913-03-04',
               '1921-03-04', '1923-08-02', '1929-03-04', '1933-03-04',
               '1945-04-12', '1953-01-20', '1961-01-20', '1963-11-22',
               '1969-01-20', '1974-08-09', '1977-01-20', '1981-01-20',
               '1989-01-20', '1993-01-20', '2001-01-20', '2009-01-20',
               '2017-01-20'],
              dtype='datetime64[ns]', name='start', freq=None)

In [58]:
# Ahora que tenemos las fechas en el tipo de dato correcto, construyamos una nueva serie
Serie_presidentes = pd.Series(series_nombres.values,index=fechas_presidentes)
Serie_presidentes

start
1789-04-30         George Washington
1797-03-04                John Adams
1801-03-04          Thomas Jefferson
1809-03-04             James Madison
1817-03-04              James Monroe
1825-03-04         John Quincy Adams
1829-03-04            Andrew Jackson
1837-03-04          Martin Van Buren
1841-03-04    William Henry Harrison
1841-04-04                John Tyler
1845-03-04             James K. Polk
1849-03-04            Zachary Taylor
1850-07-09          Millard Fillmore
1853-03-04           Franklin Pierce
1857-03-04            James Buchanan
1861-03-04           Abraham Lincoln
1865-04-15            Andrew Johnson
1869-03-04          Ulysses S. Grant
1877-03-04       Rutherford B. Hayes
1881-03-04         James A. Garfield
1881-09-19         Chester A. Arthur
1885-03-04          Grover Cleveland
1889-03-04         Benjamin Harrison
1893-03-04          Grover Cleveland
1897-03-04          William McKinley
1901-09-14        Theodore Roosevelt
1909-03-04       William Howard Taft
1913-03-04            Woodrow Wilson
1921-03-04         Warren G. Harding
1923-08-02           Calvin Coolidge
1929-03-04            Herbert Hoover
1933-03-04     Franklin D. Roosevelt
1945-04-12           Harry S. Truman
1953-01-20      Dwight D. Eisenhower
1961-01-20           John F. Kennedy
1963-11-22         Lyndon B. Johnson
1969-01-20             Richard Nixon
1974-08-09               Gerald Ford
1977-01-20              Jimmy Carter
1981-01-20             Ronald Reagan
1989-01-20         George H. W. Bush
1993-01-20              Bill Clinton
2001-01-20            George W. Bush
2009-01-20              Barack Obama
2017-01-20              Donald Trump
dtype: object

## **DESAFIO**
1 Con este archivo, construir un objeto de series de tiempo con el Ã­ndice igual al aÃ±o de los juegos olÃ­mpicos.

2 Separar nombres de apellidos en dos columnas distintas usando la coma como separador.

3 Obtener medidas resumen del conjunto de datos. CuÃ¡l es el paÃ­s que ganÃ³ mÃ¡s medallas?

4 Construir una tabla que muestre cuÃ¡ntas medallas obtuvieron los hombres en total en cada aÃ±o que se realizÃ³ el evento..