#### Python version

In [1]:
!python --version

Python 3.9.7

#### Installating libraries

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (3.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: setuptools-scm>=4 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: numpy>=1.17 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.0.6)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.28.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
Requirement already satisfied: setuptools in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from setuptools-scm>=4->matplotlib) (57.4.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from setuptools-scm>=4->matplotlib) (1.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\pacho\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\pacho\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\pacho\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

#### Version of matplotlib

In [5]:
import matplotlib
import pandas as pd

import matplotlib.pyplot as plt

In [6]:
matplotlib.__version__

'3.4.3'

In [7]:
pd.__version__

'1.3.3'

### US Oil and Gas Production June 2008 to June 2018

https://www.kaggle.com/djzurawski/us-oil-and-gas-production-june-2008-to-june-2018

* Month - Defines the date of crudeoil production (First day of the month)
* U.S. Crude Oil - Total amount of production each month for 10 years(2008-2018)
* Other columns are the cities which has the crude oil production

In [8]:
crude_oil_data = pd.read_csv('datasets/U.S._crude_oil_production.csv')

crude_oil_data.head(5)

,Month,U.S. Crude Oil,Alabama,Alaska,Arkansas,Arizona,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,...,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Virginia,Utah,Texas,Tennessee
0,2008-06-01,5138,21,655,17,0,583,82,1326,67,...,14,186,8,5,144,6,0,60,1097,1
1,2008-07-01,5177,21,640,17,0,586,81,1372,61,...,14,184,8,5,145,5,0,61,1111,1
2,2008-08-01,5003,21,544,17,0,588,82,1272,70,...,14,188,8,5,145,6,0,62,1110,1
3,2008-09-01,3974,21,681,16,0,587,88,242,67,...,14,186,8,5,144,6,0,63,1055,1
4,2008-10-01,4738,21,716,17,0,586,86,803,66,...,14,185,8,5,145,6,0,64,1125,1

In [9]:
crude_oil_data.tail()

,Month,U.S. Crude Oil,Alabama,Alaska,Arkansas,Arizona,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,...,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Virginia,Utah,Texas,Tennessee
116,2018-02-01,10248,17,513,14,0,463,428,1704,14,...,54,527,18,4,223,27,0,100,4015,1
117,2018-03-01,10461,17,512,14,0,462,428,1681,16,...,54,543,18,4,231,29,0,104,4185,1
118,2018-04-01,10475,17,497,14,0,465,447,1583,16,...,54,531,19,4,232,29,0,103,4222,1
119,2018-05-01,10443,16,496,14,0,464,447,1504,15,...,58,529,19,3,228,29,0,97,4245,1
120,2018-06-01,10674,16,451,14,0,462,423,1658,15,...,65,526,18,4,226,30,0,94,4410,1

In [10]:
crude_oil_data.shape

(121, 36)

In [11]:
crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'Arizona',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [12]:
crude_oil_data.columns[(crude_oil_data.sum(axis=0)) == 0]

Index(['Arizona', 'Virginia'], dtype='object')

In [13]:
crude_oil_data.drop(['Arizona', 'Virginia'], inplace=True, axis=1)

crude_oil_data.columns

Index(['Month', 'U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas',
       'California', 'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee'],
      dtype='object')

In [14]:
crude_oil_data['Date'] = pd.to_datetime(crude_oil_data['Month'])

crude_oil_data['Date'].head()

0   2008-06-01
1   2008-07-01
2   2008-08-01
3   2008-09-01
4   2008-10-01
Name: Date, dtype: datetime64[ns]

In [15]:
crude_oil_data.drop('Month', inplace=True, axis=1)

crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Federal Offshore Gulf of Mexico Crude Oil',
       'Federal Offshore Pacific Crude Oil', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

#### Converting the Date column `Month` to pandas DatetimeIndex - For future use

In [89]:
crude_oil_data = crude_oil_data.rename(columns={'Federal Offshore Gulf of Mexico Crude Oil': 'Mexico', 
                                                'Federal Offshore Pacific Crude Oil': 'Pacific'})

crude_oil_data.columns

Index(['U.S. Crude Oil ', 'Alabama', 'Alaska', 'Arkansas', 'California',
       'Colorado', 'Mexico', 'Pacific', 'Florida', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Michigan', 'Mississippi',
       'Missouri', 'Nebraska', 'Montana', 'Nevada', 'New Mexico', 'New York',
       'North Dakota', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Dakota',
       'Wyoming', 'West Virginia', 'Utah', 'Texas', 'Tennessee', 'Date'],
      dtype='object')

In [91]:
crude_oil_data['Year'] = crude_oil_data['Date'].dt.year

crude_oil_data['Year'].sample(10)

102    2016
33     2011
29     2010
85     2015
73     2014
56     2013
14     2009
114    2017
17     2009
69     2014
Name: Year, dtype: int64

In [92]:
crude_oil_data['Month'] = crude_oil_data['Date'].dt.month

crude_oil_data['Month'].sample(10)

64     10
61      7
14      8
28     10
110     8
94      4
71      5
50      8
12      6
109     7
Name: Month, dtype: int64

#### Saving back to dataset folder - for the usage of next demo

In [16]:
crude_oil_data.to_csv('datasets/crude_oil_data_processed.csv', index = False)

#### Describing the data

In [17]:
crude_oil_data.describe()

,U.S. Crude Oil,Alabama,Alaska,Arkansas,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,Florida,Idaho,...,North Dakota,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Utah,Texas,Tennessee
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,...,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.0
mean,7423.694215,22.958678,540.404959,16.462810,536.388430,212.115702,1444.264463,43.115702,5.190083,0.066116,...,746.380165,33.322314,321.611570,13.876033,4.504132,180.429752,16.471074,85.148760,2403.826446,1.0
std,1801.581601,3.773585,73.691879,1.483472,33.228595,117.403165,216.197200,18.735523,1.273539,0.249517,...,374.123158,22.429971,119.141958,4.497352,0.564564,34.097367,10.968952,16.662163,1025.413694,0.0
min,3974.000000,16.000000,398.000000,14.000000,461.000000,81.000000,242.000000,13.000000,2.000000,0.000000,...,165.000000,13.000000,152.000000,8.000000,3.000000,137.000000,3.000000,59.000000,1055.000000,1.0
25%,5555.000000,20.000000,497.000000,15.000000,534.000000,97.000000,1322.000000,18.000000,5.000000,0.000000,...,343.000000,13.000000,201.000000,9.000000,4.000000,147.000000,6.000000,71.000000,1243.000000,1.0
50%,7355.000000,22.000000,523.000000,16.000000,544.000000,169.000000,1452.000000,51.000000,6.000000,0.000000,...,820.000000,18.000000,320.000000,13.000000,5.000000,174.000000,20.000000,85.000000,2533.000000,1.0
75%,9085.000000,26.000000,582.000000,18.000000,559.000000,320.000000,1593.000000,56.000000,6.000000,0.000000,...,1096.000000,53.000000,433.000000,18.000000,5.000000,209.000000,25.000000,97.000000,3301.000000,1.0
max,10674.000000,29.000000,728.000000,19.000000,588.000000,447.000000,1775.000000,70.000000,7.000000,1.000000,...,1236.000000,79.000000,543.000000,22.000000,5.000000,251.000000,39.000000,116.000000,4410.000000,1.0